{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- Pybo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <title>Hello, Pybo</title>
</head>
<body>
<!-- 기본 템플릿 안에 삽입될 내용-->
<!-- 이 부분이 이후 base.html 템플릿 파일을 상속한 파일에서 구현해야 하는 영역이됨.-->
{% block content %}
{% endblock %}
<!--기본 템플릿 안에 삽입될 내용 end-->
</body>
</html>